apache-airflow-providers-celery==3.3.3
apache-airflow-providers-docker==3.7.4
apache-airflow-providers-http==4.5.1
apache-airflow-providers-postgres==5.6.0
apache-airflow-providers-samba==4.2.1
apache-airflow-providers-ssh==3.7.2
pdftotext==2.2.2
peewee==3.16.3
redis==5.0.0
regex==2023.8.8
selenium==4.12.0
